@import '../../App.scss';

.category__container {
    background: #FFFFFF;
    color: $secondary-color;
    max-width: 1800px;
    margin: 0 auto;
    padding: 1rem 3rem;

    h2 {
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .category__content {
        display: grid;
        gap: 1.2rem;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
        
        .category__item {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        
            img {
                border-radius: 8px 8px 0px 0px;
                width: 100%;
                object-fit: cover;
                height: 180px;
            }
    
            .category__text {
                padding: .7rem;
        
                p {
                    font-size: .9rem;
                    margin-top: .3rem;
                    opacity: 0.6;
                }
            }
        }
    }
}


@media (max-width: 420px) {
    .category__container {
        padding: 1rem;

        .category__item {
            max-width: 392px;
            max-height: 276px;
            margin-bottom: 1rem;
        }
    }
}