@import '../../App.scss';

.footer{
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 0 20px;
}

.footer__midias {
  display: none;
  align-items: center;
  gap: 30px;
}


@media screen and (min-width:600px){
  .footer{
    padding: 0 20px 0 30px;
  }

  .footer__midias {
    display: flex;
  }
}


@media screen and (min-width:1200px){
  .footer{
    padding: 0 20px 0 50px;
  }
}