@import '../../App.scss';

.productList__container {
    background: $secondary-color;
    color: #FFFFFF;
    max-width: 1800px;
    margin: 0 auto;
    padding: 1rem;

    h2 {
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .productList__content {
        
        // display: grid;
        // gap: 1rem;
        // grid-template-rows: repeat(auto-fit, minmax(635px, 1fr));
        
        .productList__item {
            // display: flex;
            margin-bottom: 1rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            background: #FFFFFF;
        
            .productList__img img {
                border-radius: 8px 8px 0px 0px;
                width: 100%;
                object-fit: cover;
                height: 100%;
                border-radius: 10px;
            }
    
            .productList__text {
                padding: 1rem;
                color: $secondary-color;
        
                .productList_category {
                    text-transform: uppercase;
                    opacity: 0.5;
                }

                h3 {
                    margin-bottom: 1rem;
                }

                p {
                    font-size: .9rem;
                    font-weight: 500;
                    margin-bottom: 1rem;
                }

                p.productList_category {
                    text-transform: uppercase;
                    opacity: 0.5;
                    margin-bottom: 0;
                }

                button {
                    width: 99.2%;
                    height: 40px;
                    background-color: $primary-color;
                    color: #FFFFFF;
                }
            }
        }
    }
}


// @media (max-width: 420px) {
//     .productList__container {
//         padding: 1rem;
//         // #EBEBEE;
//         .productList__item {
//             max-width: 392px;
//             max-height: 276px;
//             margin-bottom: 1rem;
//         }
//     }
// }
