@import '../../App.scss';

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height:calc(100vh - 151px);
  background: #c4c4c41f;

    h1{
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: $primary-color;
      margin: 32px 0 60px 0;
    }

    .login__span{
      margin-top: 6px;
    }
    .login__span :nth-child(1),
    .login__span :nth-child(2){
      display: inline-block;
      font-weight: 500;
      font-size: 12px;
      text-align: center;
    }

    .login__span :nth-child(1){
      color: #383B58;
      margin-right: 6px;
      
    }
    .login__span :nth-child(2){
      color: rgb(0, 140, 255);
    }
}



.form-login{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%; 
 
  label{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $secondary-color;
  }
  
  .input-group__input {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 8px;
    padding: 0 14px;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #383B58;
  }
  
  button{
    height: 40px;
    background-color: $primary-color;
    box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.15);
    margin-top: 32px;
  }
}

.field-errors{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #FF0000;
  margin-top: 10px;
}




@media screen and (min-width:414px){
  .login{
      h1{
        margin: 32px 0 115px 0;
      }
  }

  .form-login{
    width: 300px; 
   
    button{
      margin-top: 32px;
    }
  }
}


@media screen and (min-width:600px){
  .login{
    justify-content: center;
    height:calc(100vh - 156px);

    h1{
      margin: 0 0 60px;
    }

    .login__span{
      margin-top: 16px;
    }
  }

  .form-login{
    gap: 20px;
    width: 346px; 
  
  }
}



@media screen and (min-width:1200px){
  .login{
    height:calc(100vh - 138px);
    justify-content: center;

    h1{
      margin: 0 0 20px;
    }
  }

  .form-login{
    gap: 16px;
    width: 448px; 
  
    button{
      width: 206px;
      margin: 30px auto 0;
    }
  }
}