@import '../../App.scss';

.create-account{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:calc(100vh - 93px);
  background: #c4c4c41f;

  h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $primary-color;
    margin: 1rem 0 28px 0;
  }

  .create-account__span{
    margin-top: 8px;
  }
  .create-account__span :nth-child(1),
  .create-account__span :nth-child(2){
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
  }
  .create-account__span :nth-child(1){
    color: #383B58;
    margin-right: 6px;
  }
  .create-account__span :nth-child(2){
    color: rgb(0, 140, 255);
  }
}



.form-account{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 16px;

  label{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $secondary-color;
  }
  .input-group{
    width: 100%;
  }

  .input-group__input {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 8px;
    padding: 0 14px;
    
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #383B58;
  }

/* .erro{
    border: 1px solid #FF0000;
    outline: none;
    width: 100%;
    height: 40px;
    background: #FFE1E1;
    box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 8px;
  } */


  /* div com nome completo + div com message errors */
  .input-group__name{
    display: flex;
    flex-direction: column;
  }

  /* div com firstName e lastName */
  .input-group__name__full-name{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  button{
    height: 40px;
    background-color: $primary-color;
    box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.15);
    margin-top: 20px;
  }
}


.field-errors{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #FF0000;
  margin-top: 10px;
}



@media screen and (min-width:414px){
  .create-account{
    h1{
      margin: 32px 0 10px 0;
    }
  }

  .form-account{
    width: 300px;

    button{
      margin-top: 24px;
    }
  }
}



@media screen and (min-width:600px){
  .create-account{
    display: flex;
    justify-content: center;
    height:calc(100vh - 156px);

    h1{
      margin: 0 0 55px 0;
    }
    .create-account__span {
      margin-top: 16px;
    }
  }

  .form-account{
    width: 346px;

    button{
       margin-top: 46px;
    }
  }
}



@media screen and (min-width:1200px){
  .create-account{
    display: flex;
    justify-content: center;
    height:calc(100vh - 138px);
  }

  .form-account{
    width: 448px;

    button{
      width: 206px;
      margin: 40px auto 0;
    }
  }

  .input-group__name{
    display: flex;
    flex-direction: column;
  }

  /* div com firstName e lastName */
  .input-group__name__full-name{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
}