@import '../../App.scss';

.header{
  width: 100%;
  height: 93px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 
              0px 4px 5px rgba(0, 0, 0, 0.12), 
              0px 1px 10px rgba(0, 0, 0, 0.2);

  .header__logo{
    display: flex;
    align-items: flex-end;
    gap: 12px;

    .header__logo--span{
      display: none;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      color: $secondary-color;
    }
  }
}           
  

.header__login-group{
  display: none;
}



@media screen and (min-width:600px){
  .header{
    height: 98px;
    padding: 0 30px;
  }

  .header__menu-toggle{
    display: none;
  }

  .header__login-group {
    display: flex;
    gap: 16px;
  
    a{
      width: 164px;
      height: 40px;
      background: #FFFFFF;
      border: 1px solid $primary-color;
      border-radius: 5px;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      line-height: 40px;
      color: $primary-color;
    }
  }
}


@media screen and (min-width:1200px){

  .header{
    height: 80px;
    padding: 0 40px;
  }

  .header__logo--span{
    display: block !important;
  }

  .header__login-group {
    gap: 10px;
      a{
        width: 206px;
        transition:.4s;

        &:hover{
          background-color: $primary-color;
          color: #fff;
          transition: all .4s ease-in-out;
        }
      }
  }
}