@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


$primary-color: #1DBEB4;
$secondary-color: #383B58;
$blue: #545776;
$off-white: #F3F1ED;

* {
  padding:0;
  margin:0;
  list-style:none;
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

button{
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}