@import '../../App.scss';


.search{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 263px;
  background-color: $secondary-color;
  padding: 0 10px 11px;
 
  h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin: 28px 0 10px;
  }
}


.form-container{
  display:flex;
  flex-direction: column;

  .form-container__input{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    height: 36px;
    border-radius: 5px;
    margin-bottom: 9px;
    background-color: #fff;
  
    input[type="text"],
    input[type="date"]{
      border: none;
      outline: none;
      width: 100%;
    }

    ::placeholder{
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #7F7F7F;
    }
  }

  .btn{
    height: 40px;
    background-color: $primary-color;
    color: #FFFFFF;
  }
}



@media screen and (min-width:600px){
  .search{
    min-height: 140px;
    padding: 0 10px;
    position: sticky;
    top: 98px;

    h1{
      margin-top: 16px;
    }
  }

  .form-container{
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-bottom: 25px;

    .form-container__input{
      min-width: 254px;
      height: 40px;
      margin:0;
    }

    button{
      width: 166px;
    }
  }
}



@media screen and (min-width:1200px){

  .search{
    min-height: 150px;
    padding: 0 10px;
    position: sticky;
    top: 80px;

    h1{
      margin-top: 21px;
      font-size: 36px;
      line-height: 42px;
    }
  }

  .form-container{
    gap: 10px;

    .form-container__input{
      width: 422px;
    }
    button{
      width: 206px;
    }
  }
}